/* 폰트적용 */

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}


/* 노말라이즈 */

body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}


/* 라이브러리 */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}


/* 라이브러리 - flex */

*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}


/* 커스텀 */

.con {
    max-width: 1356px;
}

@media (min-width:800px) {
    .visible-on-sm-down {
        display: none;
    }
}

@media (max-width:799px) {
    .visible-on-md-up {
        display: none;
    }
}


/* 탑바 시작 */

.top-bar {
    height: 150px;
    color: black;
}

.top-bar .logo {
    font-size: 3rem;
    padding: 20px;
    mix-blend-mode: purple;
    opacity: 1;
}

.top-bar .menu-box-1>ul>li>a {
    font-weight: 200;
    font-size: 1.4rem;
    padding: 0 30px;
}

.top-bar .menu-box-1>ul>li:hover>a {
    color: #0575e6;
}

.top-bar .menu-box-1 ul>li {
    position: relative;
}

.top-bar .menu-box-1>ul ul {
    background-color: white;
    color: black;
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: -2px;
    width: 100%;
}

.top-bar .menu-box-1 ul>li:hover>ul {
    display: block;
    border: 2px solid #0575e6;
    border-top-width: 0;
}

.top-bar .menu-box-1>ul ul>li>a {
    font-weight: lighter;
    text-align: center;
    padding: 30px 0;
}

.top-bar .menu-box-1>ul ul>li:hover>a {
    background: linear-gradient(to right, #0575e6, #021b79);
    color: white;
    animation: blink 1.5s ease-in-out infinite alternate;
}

.tbrln {
    margin-top: -8px;
    width: 100%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #5593f7, #4769ff, #6fb1fc);
    animation: blink 4s ease-in-out infinite alternate;
}


/* 탑바 끝 */


/* 모바일 탑바 시작 */

.mobile-top-bar {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-top-bar .logo {
    display: inline-block;
    margin: 0 auto;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
    width: 20px;
    height: 20px;
    background-color: none;
    position: relative;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div {
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(to right, #0575e6, #021b79);
    top: 0;
    left: 0;
    transition: top .2s .2s, transform .2s 0s, visibility 0s .2s;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div {
    transition: top .2s 0s, transform .2s .2s, visibility 0s;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div:nth-child(2) {
    top: 40%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div:nth-child(3) {
    top: 80%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div {
    top: 40%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(1) {
    transform: rotate(45deg);
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(2) {
    visibility: hidden;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

@media (max-width:799px) {
    body {
        padding-top: 80px;
    }
}


/* 모바일 탑바 끝 */


/* 모바일 사이드바 */

.mobile-side-bar {
    position: fixed;
    background: white;
    color: black;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.mobile-side-bar.active {
    visibility: visible;
    opacity: 1;
}

.mobile-side-bar>.menu-box-1 {
    position: relative;
}

.mobile-side-bar>.menu-box-1>ul li {}

.mobile-side-bar>.menu-box-1 ul>li>a {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    font-weight: 200;
}

.mobile-side-bar>.menu-box-1 ul>li>a:not(:only-child)::after {
    content: " +";
}

.mobile-side-bar>.menu-box-1 ul>li:hover>a:not(:only-child)::after {
    content: " -";
}

.mobile-side-bar>.menu-box-1 ul>li:hover>a {
    background: linear-gradient(to right, #0575e6, #4764ce);
    opacity: .7;
    color: white;
    animation: blink 1.5s ease-in-out infinite alternate;
}

.mobile-side-bar>.menu-box-1>ul ul {
    display: none;
    background: linear-gradient(to right, #0575e6, #4764ce);
    opacity: .9;
}

.mobile-side-bar>.menu-box-1 ul>li:hover>ul {
    display: block;
    animation: none;
}

.blinking {
    animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*- 본문에 넣어보기*/

.index {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0
}

.index>p {
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    color: rgb(98, 116, 216);
}

.index>p>span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(img/animabackcround.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}


/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/*-프로필*/

.profile-box {
    height: 200px;
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: auto;
    display: flex;
}

.profile-box>.profile-img {
    justify-items: center;
    padding: 0 40px;
}

.profile-box>.profile-txt {
    display: flex;
}

.profile-box>.profile-txt>h1 {
    margin-top: 50px;
}

.profile-box>.profile-txt>p {
    margin-top: 50px;
    text-align: start;
    margin-left: 30%;
}