@charset "UTF-8";

/* 폰트적용 */

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}


/* 노말라이즈 */

body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}


/* 라이브러리 */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}
.text-align-left {
	text-align: left;
}
.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}


/* 라이브러리 - flex */

*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}


/* 커스텀 */

.con {
    max-width: 1356px;
}

@media (min-width:800px) {
    .visible-on-sm-down {
        display: none;
    }
}

@media (max-width:799px) {
    .visible-on-md-up {
        display: none;
    }
}
/* 로그인 블록 */
.login-block {
	border : 1px double #444958;
	display: flex;
	
	
}



/*대문*/

.index {
    font: 400 1em/1.5 "Neuton";
    color: rgba(255, 255, 255, .25);
    text-align: center;
}

.index>p {
    letter-spacing: .5em;
    display: block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    color: #444958;
    width: 100%;

}

.index>p>span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(/blog/resource/img/animabackcround.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}
.index.active {
	visibility:hidden;
}

/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


